USE [VITRINE]
GO
/****** Object:  Table [dbo].[CATEGORIA]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CATEGORIA](
	[idCategoria] [int] IDENTITY(1,1) NOT NULL,
	[descrCategoria] [varchar](150) NOT NULL,
	[CategoriaPai] [int] NULL,
 CONSTRAINT [PK__CATEGORIA__1BFD2C07] PRIMARY KEY CLUSTERED 
(
	[idCategoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CONSUMIDOR]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CONSUMIDOR](
	[idConsumidor] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[nomeConsumidor] [varchar](150) NOT NULL,
	[dtNascimento] [datetime] NOT NULL,
	[telConsumidor] [varchar](12) NULL,
	[celConsumidor] [varchar](12) NULL,
	[cepConsumidor] [varchar](10) NOT NULL,
	[ufConsumidor] [char](2) NOT NULL,
	[cidConsumidor] [varchar](150) NOT NULL,
	[enderConsumidor] [varchar](120) NOT NULL,
	[numConsumidor] [int] NOT NULL,
	[complConsumidor] [varchar](15) NULL,
	[bairroConsumidor] [varchar](80) NOT NULL,
	[sexoConsumidor] [char](2) NULL,
 CONSTRAINT [PK__CONSUMIDOR__060DEAE8] PRIMARY KEY CLUSTERED 
(
	[idConsumidor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DESEJOS]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DESEJOS](
	[idDesejo] [int] IDENTITY(1,1) NOT NULL,
	[idConsumidor] [int] NOT NULL,
	[idProduto] [int] NOT NULL,
 CONSTRAINT [PK__DESEJOS__173876EA] PRIMARY KEY CLUSTERED 
(
	[idDesejo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ENTREGA]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ENTREGA](
	[idEntrega] [int] IDENTITY(1,1) NOT NULL,
	[idConsumidor] [int] NOT NULL,
	[destEntrega] [varchar](150) NOT NULL,
	[cepEntrega] [varchar](10) NOT NULL,
	[ufEntrega] [char](2) NOT NULL,
	[cidEntrega] [varchar](150) NOT NULL,
	[enderEntrega] [varchar](120) NOT NULL,
	[numEntrega] [int] NOT NULL,
	[complEntrega] [varchar](15) NULL,
	[bairroEntrega] [varchar](80) NOT NULL,
 CONSTRAINT [PK__ENTREGA__07F6335A] PRIMARY KEY CLUSTERED 
(
	[idEntrega] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[IMAGENS]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[IMAGENS](
	[idImagem] [int] IDENTITY(1,1) NOT NULL,
	[idProduto] [int] NOT NULL,
	[nomeImagem] [varchar](100) NOT NULL,
	[localImagem] [varchar](200) NOT NULL,
	[partImagem] [int] NOT NULL,
 CONSTRAINT [PK__IMAGENS__1920BF5C] PRIMARY KEY CLUSTERED 
(
	[idImagem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ITENS_PEDIDO]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ITENS_PEDIDO](
	[idItem] [int] IDENTITY(1,1) NOT NULL,
	[idPedido] [int] NOT NULL,
	[idProduto] [int] NOT NULL,
	[valorItem] [money] NOT NULL,
	[qtdeItem] [int] NOT NULL,
	[sitPedido] [varchar](50) NULL,
	[pago] [bit] NULL,
	[dtPagamento] [datetime] NULL,
	[qtdeParcela] [int] NOT NULL,
	[idProdPag] [int] NULL,
 CONSTRAINT [PK__ITENS_PEDIDO__0F975522] PRIMARY KEY CLUSTERED 
(
	[idItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOJA]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOJA](
	[idLoja] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[bannerLoja] [varchar](150) NULL,
	[logoLoja] [varchar](150) NULL,
	[razaoSocial] [varchar](150) NOT NULL,
	[nomeFantasia] [varchar](150) NULL,
	[foneLoja] [varchar](12) NULL,
	[siteLoja] [varchar](70) NULL,
	[cepLoja] [varchar](12) NOT NULL,
	[ufLoja] [char](2) NOT NULL,
	[cidLoja] [varchar](150) NOT NULL,
	[enderLoja] [varchar](120) NOT NULL,
	[numLoja] [int] NOT NULL,
	[complLoja] [varchar](15) NULL,
	[bairroLoja] [varchar](80) NOT NULL,
 CONSTRAINT [PK__LOJA__1DE57479] PRIMARY KEY CLUSTERED 
(
	[idLoja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__LOJA__1ED998B2] UNIQUE NONCLUSTERED 
(
	[razaoSocial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PAGAMENTO]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PAGAMENTO](
	[idPagamento] [int] IDENTITY(1,1) NOT NULL,
	[descrPagamento] [varchar](50) NOT NULL,
	[imagemPagamento] [varchar](200) NULL,
 CONSTRAINT [PK_PAGAMENTO] PRIMARY KEY CLUSTERED 
(
	[idPagamento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PEDIDO]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PEDIDO](
	[idPedido] [int] IDENTITY(1,1) NOT NULL,
	[idConsumidor] [int] NULL,
	[numPedido] [uniqueidentifier] NOT NULL,
	[dtPedido] [datetime] NOT NULL,
	[guidVisitante] [varchar](50) NULL,
	[ativoPedido] [bit] NULL,
 CONSTRAINT [PK__PEDIDO__09DE7BCC] PRIMARY KEY CLUSTERED 
(
	[idPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__PEDIDO__0AD2A005] UNIQUE NONCLUSTERED 
(
	[numPedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PERGUNTA]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PERGUNTA](
	[idPergunta] [int] IDENTITY(1,1) NOT NULL,
	[descrPergunta] [varchar](50) NULL,
 CONSTRAINT [PK__PERGUNTA__7E6CC920] PRIMARY KEY CLUSTERED 
(
	[idPergunta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUTO]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PRODUTO](
	[idProduto] [int] IDENTITY(1,1) NOT NULL,
	[idLoja] [int] NOT NULL,
	[idCategoria] [int] NOT NULL,
	[descrProduto] [varchar](150) NOT NULL,
	[qtdeEstoque] [int] NOT NULL,
	[valorCusto] [money] NULL,
	[valorVenda] [money] NOT NULL,
	[freteGratis] [bit] NULL,
	[likeProduto] [int] NULL,
	[unlikeProduto] [int] NULL,
	[ativoProduto] [bit] NULL,
 CONSTRAINT [PK__PRODUTO__1273C1CD] PRIMARY KEY CLUSTERED 
(
	[idProduto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PRODUTO_PAGAMENTO]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUTO_PAGAMENTO](
	[idProdPag] [int] IDENTITY(1,1) NOT NULL,
	[idProduto] [int] NOT NULL,
	[idPagamento] [int] NOT NULL,
	[qtdeParcela] [int] NULL,
	[jurosParcela] [float] NULL,
 CONSTRAINT [PK_PRODUTO_PAGAMENTO] PRIMARY KEY CLUSTERED 
(
	[idProdPag] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 28/11/2012 22:02:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[idUsuario] [int] IDENTITY(1,1) NOT NULL,
	[idPergunta] [int] NOT NULL,
	[respostaUsuario] [varchar](70) NOT NULL,
	[tipoUsuario] [char](1) NOT NULL,
	[docUsuario] [varchar](15) NOT NULL,
	[emailUsuario] [varchar](70) NOT NULL,
	[senhaUsuario] [varchar](20) NOT NULL,
	[guidUsuario] [varchar](50) NOT NULL,
	[dtUsuario] [datetime] NOT NULL,
	[ativoUsuario] [bit] NOT NULL,
 CONSTRAINT [PK__USUARIO__00551192] PRIMARY KEY CLUSTERED 
(
	[idUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIO__014935CB] UNIQUE NONCLUSTERED 
(
	[emailUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__USUARIO__023D5A04] UNIQUE NONCLUSTERED 
(
	[docUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[IMAGENS] ADD  CONSTRAINT [DF_IMAGENS_partImagem]  DEFAULT ((1)) FOR [partImagem]
GO
ALTER TABLE [dbo].[ITENS_PEDIDO] ADD  CONSTRAINT [DF_ITENS_PEDIDO_pago]  DEFAULT ((0)) FOR [pago]
GO
ALTER TABLE [dbo].[ITENS_PEDIDO] ADD  CONSTRAINT [DF_ITENS_PEDIDO_qtddeParcel]  DEFAULT ((1)) FOR [qtdeParcela]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [DF_PEDIDO_numPedido]  DEFAULT (newid()) FOR [numPedido]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [DF__PEDIDO__dtPedido__0BC6C43E]  DEFAULT (getdate()) FOR [dtPedido]
GO
ALTER TABLE [dbo].[PEDIDO] ADD  CONSTRAINT [DF_PEDIDO_ativoPedido]  DEFAULT ((0)) FOR [ativoPedido]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  CONSTRAINT [DF_PRODUTO_qtdeProduto]  DEFAULT ((0)) FOR [qtdeEstoque]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  CONSTRAINT [DF_PRODUTO_valorVenda]  DEFAULT ((0.00)) FOR [valorVenda]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  CONSTRAINT [DF__PRODUTO__freteGr__1367E606]  DEFAULT ((0)) FOR [freteGratis]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  CONSTRAINT [DF__PRODUTO__likePro__145C0A3F]  DEFAULT ((1)) FOR [likeProduto]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  CONSTRAINT [DF__PRODUTO__unlikeP__15502E78]  DEFAULT ((0)) FOR [unlikeProduto]
GO
ALTER TABLE [dbo].[PRODUTO] ADD  CONSTRAINT [DF_PRODUTO_ativoProduto]  DEFAULT ((1)) FOR [ativoProduto]
GO
ALTER TABLE [dbo].[PRODUTO_PAGAMENTO] ADD  CONSTRAINT [DF_PRODUTO_PAGAMENTO_qtdeParcela]  DEFAULT ((1)) FOR [qtdeParcela]
GO
ALTER TABLE [dbo].[PRODUTO_PAGAMENTO] ADD  CONSTRAINT [DF_PRODUTO_PAGAMENTO_jurosParcela]  DEFAULT ((0.00)) FOR [jurosParcela]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF__USUARIO__dtUsuar__03317E3D]  DEFAULT (getdate()) FOR [dtUsuario]
GO
ALTER TABLE [dbo].[USUARIO] ADD  CONSTRAINT [DF__USUARIO__ativoUs__0425A276]  DEFAULT ((0)) FOR [ativoUsuario]
GO
ALTER TABLE [dbo].[CATEGORIA]  WITH CHECK ADD  CONSTRAINT [FK_CATEGORIA_REFERENCIA] FOREIGN KEY([CategoriaPai])
REFERENCES [dbo].[CATEGORIA] ([idCategoria])
GO
ALTER TABLE [dbo].[CATEGORIA] CHECK CONSTRAINT [FK_CATEGORIA_REFERENCIA]
GO
ALTER TABLE [dbo].[CONSUMIDOR]  WITH CHECK ADD  CONSTRAINT [FK_ID_USUARIO_CONSUMIDOR] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[CONSUMIDOR] CHECK CONSTRAINT [FK_ID_USUARIO_CONSUMIDOR]
GO
ALTER TABLE [dbo].[DESEJOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_CONSUMIDOR_DESEJOS] FOREIGN KEY([idConsumidor])
REFERENCES [dbo].[CONSUMIDOR] ([idConsumidor])
GO
ALTER TABLE [dbo].[DESEJOS] CHECK CONSTRAINT [FK_ID_CONSUMIDOR_DESEJOS]
GO
ALTER TABLE [dbo].[DESEJOS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PRODUTO_DESEJOS] FOREIGN KEY([idProduto])
REFERENCES [dbo].[PRODUTO] ([idProduto])
GO
ALTER TABLE [dbo].[DESEJOS] CHECK CONSTRAINT [FK_ID_PRODUTO_DESEJOS]
GO
ALTER TABLE [dbo].[ENTREGA]  WITH CHECK ADD  CONSTRAINT [FK_ID_CONSUMIDOR_ENTREGA] FOREIGN KEY([idConsumidor])
REFERENCES [dbo].[CONSUMIDOR] ([idConsumidor])
GO
ALTER TABLE [dbo].[ENTREGA] CHECK CONSTRAINT [FK_ID_CONSUMIDOR_ENTREGA]
GO
ALTER TABLE [dbo].[IMAGENS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PRODUTO_IMAGENS] FOREIGN KEY([idProduto])
REFERENCES [dbo].[PRODUTO] ([idProduto])
GO
ALTER TABLE [dbo].[IMAGENS] CHECK CONSTRAINT [FK_ID_PRODUTO_IMAGENS]
GO
ALTER TABLE [dbo].[ITENS_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_PEDIDO] FOREIGN KEY([idPedido])
REFERENCES [dbo].[PEDIDO] ([idPedido])
GO
ALTER TABLE [dbo].[ITENS_PEDIDO] CHECK CONSTRAINT [FK_ID_PEDIDO]
GO
ALTER TABLE [dbo].[ITENS_PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_PRODUTO] FOREIGN KEY([idProduto])
REFERENCES [dbo].[PRODUTO] ([idProduto])
GO
ALTER TABLE [dbo].[ITENS_PEDIDO] CHECK CONSTRAINT [FK_ID_PRODUTO]
GO
ALTER TABLE [dbo].[LOJA]  WITH CHECK ADD  CONSTRAINT [FK_ID_USUARIO_LOJA] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[USUARIO] ([idUsuario])
GO
ALTER TABLE [dbo].[LOJA] CHECK CONSTRAINT [FK_ID_USUARIO_LOJA]
GO
ALTER TABLE [dbo].[PEDIDO]  WITH CHECK ADD  CONSTRAINT [FK_ID_CONSUMIDOR_PEDIDO] FOREIGN KEY([idConsumidor])
REFERENCES [dbo].[CONSUMIDOR] ([idConsumidor])
GO
ALTER TABLE [dbo].[PEDIDO] CHECK CONSTRAINT [FK_ID_CONSUMIDOR_PEDIDO]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_CATEGORIA] FOREIGN KEY([idCategoria])
REFERENCES [dbo].[CATEGORIA] ([idCategoria])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_ID_CATEGORIA]
GO
ALTER TABLE [dbo].[PRODUTO]  WITH CHECK ADD  CONSTRAINT [FK_ID_LOJA_PRODUTO] FOREIGN KEY([idLoja])
REFERENCES [dbo].[LOJA] ([idLoja])
GO
ALTER TABLE [dbo].[PRODUTO] CHECK CONSTRAINT [FK_ID_LOJA_PRODUTO]
GO
ALTER TABLE [dbo].[PRODUTO_PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_PAGAMENTO_PAGAMENTO] FOREIGN KEY([idPagamento])
REFERENCES [dbo].[PAGAMENTO] ([idPagamento])
GO
ALTER TABLE [dbo].[PRODUTO_PAGAMENTO] CHECK CONSTRAINT [FK_PRODUTO_PAGAMENTO_PAGAMENTO]
GO
ALTER TABLE [dbo].[PRODUTO_PAGAMENTO]  WITH CHECK ADD  CONSTRAINT [FK_PRODUTO_PAGAMENTO_PRODUTO] FOREIGN KEY([idProduto])
REFERENCES [dbo].[PRODUTO] ([idProduto])
GO
ALTER TABLE [dbo].[PRODUTO_PAGAMENTO] CHECK CONSTRAINT [FK_PRODUTO_PAGAMENTO_PRODUTO]
GO
ALTER TABLE [dbo].[USUARIO]  WITH CHECK ADD  CONSTRAINT [FK_ID_PERGUNTA] FOREIGN KEY([idPergunta])
REFERENCES [dbo].[PERGUNTA] ([idPergunta])
GO
ALTER TABLE [dbo].[USUARIO] CHECK CONSTRAINT [FK_ID_PERGUNTA]
GO
