<?xml version="1.0" encoding="UTF-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="CEPConnectionString" connectionString="Data Source=ELTON\ELTON;Initial Catalog=CEP;Persist Security Info=True;User ID=sa;Password=37054e" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
        <authentication mode="Forms" />
        <identity impersonate="true" />
  </system.web>
</configuration>