<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="VITRINEConnectionString" connectionString="Data Source=ELTON\ELTON;Initial Catalog=VITRINE;Persist Security Info=True;User ID=sa;Password=37054e" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <globalization culture="pt-BR" requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="pt-BR"/>
    <authentication mode="Forms">
      <forms loginUrl="~/Views/Shared/Login.aspx"/>
    </authentication>
    <authorization>
      <deny users="?"/>
    </authorization>
    <identity impersonate="true"/>
  </system.web>
  <location path="Views/Shared">
    <system.web>
      <authorization>
        <allow users="?"/>
      </authorization>
    </system.web>
  </location>
  <location path="Views/Construction">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Content">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <appSettings>
  <add key="CEP.ws_CEP" value="http://localhost:3034/ws_Vitrine/ws_CEP.asmx"/>
  </appSettings>
</configuration>