<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WebSite.Data.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <WebSite.Data.Properties.Settings>
            <setting name="LinhaConexao" serializeAs="String">
                <value>Data Source=ELTON\ELTON;Initial Catalog=VITRINE;Persist Security Info=True;User ID=sa;Password=37054e</value>
            </setting>
        </WebSite.Data.Properties.Settings>
    </applicationSettings>
</configuration>